Este notebook es para generar el paso de tener parrafos o un texto segmentado y generar codes para estos o un hasthag, despues de generar el hasthag vamos a vectorizarlos en altas dimensiones y aplicaremos HBDSCAN ahi mismo en las altas dimensiones, despues ya con los clusters vamos a pedir al LLM un theme para el cluster, para darles nombre y al final los visualizamos

In [ ]:
pip install sentence-transformers umap-learn scikit-learn matplotlib seaborn pandas numpy optuna

In [ ]:
import pandas as pd


transcripts_Armando = "https://raw.githubusercontent.com/3eltran23/ATA-LMM_study/refs/heads/main/data/transcripts.csv"
transcripts_Armando = pd.read_csv(transcripts_Armando)

codes_Armando = "https://raw.githubusercontent.com/3eltran23/ATA-LMM_study/refs/heads/main/data/combined_codes.csv"
codes_Armando = pd.read_csv(codes_Armando)

Hockey_Interviews = "https://raw.githubusercontent.com/HiramZ04/Cal-State-UMAP_Clustering/refs/heads/main/data/National-Hockey-League-Interviews.csv"
Hockey_Interviews = pd.read_csv(Hockey_Interviews)

call-recordings = ""

transcripts_Armando.head(5)

In [22]:
codes_Armando.head(5)

                                        Codes       Source
0          Reinforcing school dynamic at home  p008-parent
1               Functionalities of smartwatch  p008-parent
2                       Daily or weekly goals  p008-parent
3  Sharing information with separated parents  p008-parent
4                  Pick up of watch and phone  p008-parent

In [27]:
Hockey_Interviews.head(5)

,RowId,team1,team2,date,name,job,text
0,0,blackhawks,lightning,2015-06-02,stan bowman,other,well we're very fortunate to have the players ...
1,1,blackhawks,lightning,2015-06-02,steve yzerman,other,no we didn't really set a timeline on it i wou...
2,2,blackhawks,lightning,2015-06-03,antoine vermette,player,that's a good question i don't recall specific...
3,3,blackhawks,lightning,2015-06-03,joel quenneville,coach,yeah we got better as the game went on i thoug...
4,4,blackhawks,lightning,2015-06-03,jon cooper,coach,i don't know i think the way i'd look at the g...

In [32]:
Hockey_Interviews["text"]

0       well we're very fortunate to have the players ...
1       no we didn't really set a timeline on it i wou...
2       that's a good question i don't recall specific...
3       yeah we got better as the game went on i thoug...
4       i don't know i think the way i'd look at the g...
                              ...
2091    i think in the last our two home games we had ...
2092    when you get to this point of the year you got...
2093    yeah it was in the bag laughs no it just i don...
2094    he definitely deserved it there is no doubt ab...
2095    yeah definitely tiring to me we have played so...
Name: text, Length: 2096, dtype: object